bare_soil_analysis_v2.csv
bare_soil_analysis_mas_ndvi_2024_v1.csv
bare_soil_analysis_mas_ndvi_2023_v1.csv
bare_soil_analysis_mas_ndvi_2022_v1.csv
bare_soil_analysis_mas_ndvi_2024_v2.csv
bare_soil_analysis_mas_ndvi_2023_v2.csv
bare_soil_analysis_mas_ndvi_2022_v2.csv
*.csv