# Jupyter Notebook
.ipynb_checkpoints
*/__pycache__

# IPython
profile_default/
ipython_config.py

# Output file types
*.png
*.jpg
*.pgw
*.shp
*.sld
*.lyr
*.cpg
*.dbf
*.prj
*.shx
*.gpkg
*.tif
*.geojson

# QGIS
*.qgz
data/raw/gewichten_kempen.csv
data/raw/gewichten_oostelijke_leemstreek.csv
data/raw/gewichten_polders.csv
data/raw/gewichten_weidestreek.csv
data/raw/gewichten_westelijke_leemstreek.csv
data/raw/gewichten_zandleemstreek.csv
data/raw/gewichten_zandstreek.csv
data/raw/steekproef_avimap_mbag_mas.csv
data/raw/steekproef_avimap_mbag_piloot.csv
data/raw/steekproef_mbag_mas.csv
data/raw/steekproef_mbag_piloot.csv
data/raw/steekproefkader_mbag_mas.csv
data/raw/steekproefkader_mbag_piloot.csv
data/raw/steekproef_mbag_mas.csv
data/raw/steekproef_mbag_mas.csv
data/raw/README.txt
data/raw/steekproef_mbag_mas.csv
data/raw/steekproef_mbag_mas.csv
src/.Rhistory
data/raw/steekproef_mbag_mas.csv
data/raw/steekproef_mbag_mas.csv
outputs/output_analysis/time_series_mas_ndvi.csv
src/.Rhistory
